@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
 
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #F5FAFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
}

nav #nav-items {
    display: flex;
    gap: 1em;
    list-style: none;
    padding: 1em;
}

nav #nav-items .nav-item a {
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: #0F1414;
}

a:active {
    color: #ADD6D6;
    text-decoration: underline;
}

#logo a {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    color: #05203B;
}

#home {
    display: flex;
    align-items: center;
    background-color: #E0F0F0;
    height: 80vh;
    padding: 0 20px;
}

.home-image {
    object-fit: cover;
}

