@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
 
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #F5FAFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
}

nav #nav-items {
    display: flex;
    gap: 1em;
    list-style: none;
    padding: 1em;
}

nav #nav-items .nav-item a {
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: #0F1414;
}

a:hover {
    color: red;
}

a.active {
    color: #db1414;
    text-decoration: underline;
}

#logo a {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    color: #05203B;
}

#home {
    display: flex;
    align-items: center;
    background-color: #E0F0F0;
    height: 100vh;
    padding: 0 20px;
}

.home-image {
    object-fit: cover;
}

#about-me {
    padding: 1em;
    background-color: #F5FAFA;
    text-align: center;
}

#about-me h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#about-me p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#skills {
    padding: 50px 20px;
    background-color: #E0F0F0;
    text-align: center;
}

#skills h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.skills-list {
    list-style-type: none;
    padding: 0;
    font-size: 1.2em;
    max-width: 800px;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skills-list img {
    background-color:#0F1414;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    display: flex;
}

